"====================== mapping start =========================

let mapleader=" "

noremap <silent> i k
noremap <silent> k i
noremap <silent> K I
noremap <silent> L $
noremap <silent> H ^
noremap <silent> I 4k
noremap <silent> J 4j
noremap <silent> rr ciw<c-r>0<esc>
noremap <silent> R ciw<esc>"+p
noremap <silent> <C-a> gg<S-v>G

nnoremap <silent> tl :set splitright<CR> :vsplit<CR>
nnoremap <silent> th :set nosplitright<CR>:vsplit<CR>
nnoremap <silent> ti :set nosplitbelow<CR>:split<CR>
nnoremap <silent> tj :set splitbelow<CR>:split<CR>

nnoremap <silent> q :x<cr>
nnoremap <silent> Q :q!<CR>
nnoremap <silent> <leader>q q
nnoremap <silent> <leader>i <C-w>k
nnoremap <silent> <leader>j <C-w>j
nnoremap <silent> <leader>h <C-w>h
nnoremap <silent> <leader>l <C-w>l
nnoremap <silent> <TAB> :bnext<CR>
nnoremap <silent> <c-s> :w<cr>
nnoremap <silent> <S-TAB> :bprevious<CR>
nnoremap <silent> zf %
nnoremap <silent> zb zx
nnoremap <silent> cc ciw
nnoremap <silent> yi yi
nnoremap <silent> ci ci
nnoremap <silent> di di
nnoremap <silent> cd $F(lci)
nnoremap <silent> + <C-a>
nnoremap <silent> - <C-x>

vnoremap <silent> Y "+y

inoremap <silent> jj <Esc>
inoremap <silent> <c-f> <right>
inoremap <silent> <c-q> <Home>
inoremap <silent> <c-e> <End>
inoremap <silent> <c-b> <left>
inoremap <silent> <c-d> <del>
inoremap <silent> <c-s> <esc>:w<cr>
"inoremap <silent> <expr><TAB> pumvisible() ? "\<C-n>" : "\<TAB>"

"====================== mapping end =========================
nnoremap <CR> :action EditorSelectWord<CR>
vnoremap <enter> :action EditorSelectWord<CR>
vnoremap <S-CR> :action EditorUnSelectWord<CR>

set hlsearch                    " highlight searches
set incsearch                   " do incremental searching, search as you type
set ignorecase                  " ignore case when searching
set smartcase                   " no ignorecase if Uppercase char present
"set nocursorline               "显示行
"set number relativenumber
"set clipboard^=unamed,unnamedplus
set keep-english-in-normal-and-restore-in-insert

"Plug 'easymotion/vim-easymotion'
set easymotion
g:EasyMotion_do_mapping=0
nnoremap <c-f> <Plug>(easymotion-f)
"map f <Plug>(easymotion-s2)
set surround


"Idea action 配置
" 重命令元素
nnoremap rn :action RenameElement<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gu :action GotoSuperMethod<CR>
nnoremap <Leader>im :action ImplementMethods<CR>
nnoremap <Leader>rv :action IntroduceVariable<CR>
nnoremap <Leader>cr :action CopyReference<CR>
nnoremap <Leader>em :action ExtractMethod<CR>
nnoremap <Leader>sw :action SurroundWith<CR>
